html, body {
  font-family: $font-family-base;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: $link-color;
}

ul {
  margin: 0;
}

body {
  overflow: hidden;
  margin: 0;
  background-color: #05354b;
  //background-size: cover;
}

//Clean autocomplete colors
input:-webkit-autofill:focus,
textarea :-webkit-autofill:focus,
select:-webkit-autofill:focus,
input:-webkit-autofill,
textarea :-webkit-autofill,
select:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  background-color: $white !important;
  color: $gray !important;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  cursor: pointer;
  display: block;
  width: 8px;
  color: #fff;
  text-align: center;
  position: relative;
}

input[type=number]::-webkit-inner-spin-button:before,
input[type=number]::-webkit-inner-spin-button:after {
  content: "^";
  font-weight: bold;
  position: absolute;
  right: 0;
  font-family: monospace;
  line-height: 0;
}

input[type=number]::-webkit-inner-spin-button:before {
  top: 15px;
}

input[type=number]::-webkit-inner-spin-button:after {
  bottom: 15px;
  -webkit-transform: rotate(180deg);
}

input[type=file] {
  display: none;
  & + label {
    @extend .btn;
    padding: 0 10px;
  }
}
